@import '../../../../scss/variables';
@import '../../../../scss/main';

.bar {
    .bar_title {
        text-transform: uppercase;
        font-family: "Helvetica Neue LT Std 55 Roman", sans-serif;;
        font-size: 9px;
        margin-left: 4px;
        color: transparentize($font-color, .45);
    }

    .bar_wrapper {
        margin-top: 7px;
    }
}