@import '../../scss/_variables.scss';
@import '../../scss/main.scss';

main {
    display: flex;
    justify-content: center;
    padding: 35px 0;

    .wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 978px;
        max-width: 978px;
    }
}

@media all and (max-width: $media-breakpoint) {
    main {
        padding: 5px;

        .wrapper {
            width: auto;
        }
    }
}