@font-face {
    font-family: 'Helvetica Neue LT Std 55 Roman';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica Neue LT Std 55 Roman'), url('HelveticaNeueLTStd55Roman_22526.woff') format('woff');
}

@font-face {
    font-family: 'Helvetica Neue LT Std 45 Light';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica Neue LT Std 45 Light'), url('HelveticaNeueLTStd45Light_22520.woff') format('woff');
}

@font-face {
    font-family: 'Helvetica Neue LT Std 65 Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica Neue LT Std 65 Medium'), url('HelveticaNeueLTStdMd 1.woff') format('woff');
}

@font-face {
    font-family: 'Helvetica Neue LT Std 75 Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica Neue LT Std 75 Bold'), url('HelveticaNeueLTStd75Bold_22539.woff') format('woff');
}

@font-face {
    font-family: 'Arial Rounded MT Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Arial Rounded MT Regular'), url('ARIALROUNDEDMT.woff') format('woff');
}
