@import '../../../scss/_variables.scss';

.profile {
    float: right;
    display: flex;
    align-items: center;


    .profile_image {
        display: flex;
        justify-content: center;
        height: 32px;
        width: 32px;
        border-radius: 50%;
        text-align: center;
        overflow: hidden;
        box-shadow: 0 2px 2px rgba(0, 0, 0, .2);

        img {
            align-self: end;
        }
    }

    .profile_span {
        color: $header-font-color;
        display: flex;
        align-items: center;

        &:hover {
            color: darken($header-font-color, 20%);
        }

        .profile_name {
            margin: 0 10px;
        }
    }

    &:hover {
        .profile_image {
            box-shadow: 0 3px 2px rgba(0, 0, 0, .4);
        }

        .profile_span {
            color: darken($header-font-color, 20%);
        }
    }
}

@media all and (max-width: $media-breakpoint) {
    .profile {
        align-self: flex-start;
        margin: 5px 0;

        .profile_span {
            display: none;
        }

        .profile_image {
            margin-left: 5px;
        }
    }
}