@import '../../scss/_variables.scss';
@import '../../scss/main.scss';

#root>header {
    height: 79px;
    background-color: $block-background-color;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.13);
    display: flex;
    justify-content: center;

    .wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 978-118px;
        max-width: 978px;
        margin-left: 118px;
        border-left: 1px solid $header-border-color;
    }
}

@media all and (max-width: $media-breakpoint) {
    #root>header {
        height: auto;
        position: sticky;
        top: 0px;
        z-index: 10;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.13);

        .wrapper {
            margin: 0 10px;
            border: 0;
        }
    }
}