@import '../../scss/_variables.scss';
@import '../../scss/main.scss';

section#dashboard {
    width: 978px;
    background-color: $background-color;
    border: none;

    header.dashboard_header {
        background-color: inherit;
        display: flex;
        justify-content: space-between;
        margin-bottom: 27px;
    }
}