$background-color: #f9f9f9;
$block-background-color: #ffffff;
$font-color: #828282;
$header-font-color: #7c7c7c;
$font-active-color: #000000;
$button-font-color: #a4a4a4;
$orange-color: #ff801a;
$green-color: #adbb0c;
$border-color: #e9e9e9;
$header-border-color: #efefef;