$background-color: #f9f9f9;
$block-background-color: #ffffff;
$font-color: #828282;
$header-font-color: #7c7c7c;
$font-active-color: #000000;
$button-font-color: #a4a4a4;
$button-border-color: #b8b8b8;
$orange-color: #ff801a;
$green-color: #adbb0c;
$border-color: #e9e9e9;
$header-border-color: #efefef;
$progress-bar-color: #dbdbdb;
$slider-arrow-border-color: #c0c0c0;
$guilt-free-font-color: #c2c2c2;
$print-font-color: #a2a2a2;

// exports to be used in .js component files
:export { backgroundColor: $background-color; }
:export { greenColor: $green-color; }